@{
    ViewData["Title"] = "test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Employee Types</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>Employee Types</h1>
    <ul id="employeeTypesList"></ul>

    <script>
        $(document).ready(function () {
            $.ajax({
                url: "https://rmrbdapi.somee.com/odata/EmployeeType",
                method: "GET",
                headers: {
                    'token': '4520b255-7ffa-11ef-8e53-0a00184fe694'
                },
                success: function (response) {
                    // Assuming the response contains a 'value' property holding the data array
                    const employeeTypes = response.value;
                    employeeTypes.forEach(function (item) {
                        $('#employeeTypesList').append('<li>' + item.typeName + '</li>');
                    });
                },
                error: function (error) {
                    console.error("Error fetching data", error);
                }
            });
        });
    </script>
</body>

